- hosts: all 
  tasks:
  - name: Reset existing configurations 
    shell: "kubeadm reset -f"
    become: true
    become_method: sudo
  - name: Stop kubelet 
    systemd:
      state: stopped
      name: kubelet
    become: true
    become_method: sudo
  - name: Remove /var/lib/cni 
    file:
      path: /var/lib/cni 
      state: absent
    become: true
    become_method: sudo
  - name: Remove /run/flannel 
    file:
      path: /run/flannel
      state: absent
    become: true
    become_method: sudo
  - name: Remove /etc/cni
    file:
      path: /etc/cni
      state: absent
    become: true
    become_method: sudo
  - name: Bring down cni0
    shell: "if ip link show cni0 >/dev/null 2>&1; then ip link set cni0 down; ip link delete cni0; fi"
    become: true
    become_method: sudo
  - name: Bring down flannel.1
    shell: "if ip link show flannel.1 >/dev/null 2>&1; then ip link set flannel.1 down; fi"
    become: true
    become_method: sudo
